 body {
     display: grid;    
     grid-template-columns: 1fr 10fr;
}
 
 .grid {
    border: black solid 1px ;
    display: grid;
    height: 80vmin;
    width: 45vmin;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows:  repeat(20, 1fr);
 }


 .block {
    background-color: purple;
 }

 .frozen {
    background-color: blue;
 }

 .bottom {
    background-color: green;
 }

 .display-grid {
    height: 10vmin;;
    width: 10vmin;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}