 body {
   font-family: "Poppins", sans-serif;
}

.display {
   flex:1;
}
 
 .grid {
   flex: 2;
    border: black solid 1px ;
    display: grid;
    height: 80vmin;
    width: 45vmin;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows:  repeat(20, 1fr);
 }


 .block {
   background-color: #A5F1E9;
   border: #FFF solid 1px ;

 }

 .frozen {
    background-color: #7FBCD2;
 }

 .bottom {
    background-color: #7FBCD2;
 }

 .container {
   margin: auto;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
 }

 .display-grid {
   flex: 1;
    height: 10vmin;;
    width: 10vmin;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);

}  

.game {
   margin-right: 20vh;
   display: flex;
   gap: 20px;
}

.control {
   height: 10em;
   display: flex;
}

.control > * {
   flex: 1 1 100%;
}

.control > div {
   display: flex;
   flex-direction: column;
   align-items: stretch;
}

.control > div > button {
  height: 100%
}

button {
   width: 5em;
   font-family: "Poppins", sans-serif;

}

.game-control {
   margin: auto;
   margin-left: 40px;
}

.game-control h1 {
   text-align: center;
}





